.oren {
  color: #ffbd59;
}
.oren-gelap {
  color: #ff9d0b;
}
.bg-oren {
  background-color: #ffbd59;
}

#home,
#projects,
#navbar {
  background-color: #dfdfdf;
  color: #272727;
}

#about,
#contact {
  background-color: #f6f6f6;
  color: #272727;
}

.darkmode #home,
.darkmode #projects,
.darkmode #navbar {
  background-color: #404040;
  color: #f6f6f6;
}

.darkmode #about,
.darkmode #contact {
  background-color: #272727;
  color: #f6f6f6;
}

/* .darkmode {
  color: white;
}
h1,
p,
label,
h3,
ul {
  color: rgb(52, 52, 52);
} */

body {
  font-family: "Questrial", sans-serif;
}
